<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Agridera</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/middle.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</head>
<body class="tomato-page-body">
    <header class="category-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0 py-3">
                <a class="navbar-brand m-0" href="index.html">
                    <img src="images/logo.png" alt="Logo" class="main-logo">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainMenu" style="border-color: #57a15a;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-column mt-3 mt-lg-0" id="mainMenu">
                    <div class="search-box w-100 text-lg-right text-center mb-3 mb-lg-0 align-self-lg-end">
                        <input type="text" placeholder="Search" class="search-input category-search">
                    </div>
                    <ul class="navbar-nav ml-auto w-100 justify-content-lg-end text-center">
                        <li class="nav-item"><a class="nav-link category-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link category-link" href="#">Company Profile</a></li>
                        <li class="nav-item"><a class="nav-link category-link" href="tomato.html">Products</a></li>
                        <li class="nav-item"><a class="nav-link category-link" href="#">Services</a></li>
                        <li class="nav-item"><a class="nav-link category-link" href="#">R & D</a></li>
                        <li class="nav-item active"><a class="nav-link category-link" href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <img src="images/contact_banner.jpg" alt="Contact Banner" class="contact-banner-img">
        
        <div class="container py-5">
            <h1 class="contact-page-title">Contact us</h1>
            <div class="divider-stars text-left mt-2 mb-4">★★★★★</div>

            <div v-if="cart.length > 0 && !orderSubmitted" class="mb-5 table-responsive">
                <h4 class="mb-3" style="color: #57a15a;">Your Cart Items</h4>
                <table class="table table-bordered bg-white">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th class="text-center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in cart" :key="item.id">
                            <td style="width: 120px;">
                                <img :src="'img/' + item.image" class="img-fluid" style="border-radius: 5px;">
                            </td>
                            <td class="align-middle" style="color: #3b4b40; font-weight: bold;">{{ item.title }}</td>
                            <td class="align-middle" style="color: #555;">{{ item.short_text }}</td>
                            <td class="align-middle text-center">
                                <button class="btn btn-danger btn-sm" @click.prevent="removeFromCart(item.id)">✖</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form class="contact-form" @submit.prevent="makeOrder" v-if="!orderSubmitted">
                <div class="row">
                    <div class="col-md-6 pr-md-5">
                        <label>Name *</label>
                        <input type="text" class="contact-input" v-model="contactFields.name" required>

                        <label>Company Name</label>
                        <input type="text" class="contact-input" v-model="contactFields.company">

                        <label>Position</label>
                        <input type="text" class="contact-input" v-model="contactFields.position">

                        <label>City</label>
                        <input type="text" class="contact-input" v-model="contactFields.city">

                        <label>Country</label>
                        <input type="text" class="contact-input" v-model="contactFields.country">

                        <label>Telephone</label>
                        <input type="text" class="contact-input" v-model="contactFields.phone">

                        <label>Email *</label>
                        <input type="email" class="contact-input" v-model="contactFields.email" required>
                    </div>

                    <div class="col-md-6 pl-md-4 mt-4 mt-md-0">
                        <label>You are a</label>
                        <select class="contact-select" v-model="contactFields.type">
                            <option value="seed producer">seed producer</option>
                            <option value="distributor">distributor</option>
                            <option value="farmer">farmer</option>
                            <option value="other">other</option>
                        </select>

                        <label>If other, please specify</label>
                        <input type="text" class="contact-input" v-model="contactFields.specify">

                        <label>You are interested in</label>
                        <textarea class="contact-textarea" v-model="contactFields.interest"></textarea>

                        <label>Please type this code</label>
                        <div class="captcha-container">
                            <span class="captcha-code">7 c j 3</span>
                            <input type="text" class="captcha-input">
                            <button type="submit" class="btn-send">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>

            <div v-if="orderSubmitted" class="alert alert-success mt-4 p-4" style="background-color: #f4fce3; border-color: #57a15a; color: #3b4b40;">
                <h4 class="mb-3" style="color: #57a15a;">Дякуємо за замовлення!</h4>
                <p>Ваші дані та замовлення успішно отримано. Ось інформація, яку ви надали:</p>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li v-if="contactFields.name"><strong>Ім'я:</strong> {{ contactFields.name }}</li>
                    <li v-if="contactFields.company"><strong>Компанія:</strong> {{ contactFields.company }}</li>
                    <li v-if="contactFields.position"><strong>Посада:</strong> {{ contactFields.position }}</li>
                    <li v-if="contactFields.city"><strong>Місто:</strong> {{ contactFields.city }}</li>
                    <li v-if="contactFields.country"><strong>Країна:</strong> {{ contactFields.country }}</li>
                    <li v-if="contactFields.phone"><strong>Телефон:</strong> {{ contactFields.phone }}</li>
                    <li v-if="contactFields.email"><strong>Email:</strong> {{ contactFields.email }}</li>
                    <li v-if="contactFields.type"><strong>Тип користувача:</strong> {{ contactFields.type }}</li>
                    <li v-if="contactFields.specify"><strong>Інше:</strong> {{ contactFields.specify }}</li>
                    <li v-if="contactFields.interest"><strong>Зацікавленість:</strong> {{ contactFields.interest }}</li>
                </ul>
            </div>

            <div class="address-section text-center">
                <h4 class="address-title">Our Address</h4>
                <p class="address-text">
                    AGRIDERA Seeds & Agriculture Ltd.<br>
                    P.O Box 103,<br>
                    Gedera 70750, Israel.<br>
                    Telephone: <span>+972 8 944 9222</span>
                </p>
            </div>
        </div>
    </main>

    <footer class="footer-main">
        <div class="container py-4 text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <ul class="footer-links d-flex flex-wrap p-0 m-0 justify-content-center justify-content-md-start">
                        <li><a href="#">PROFILE</a></li>
                        <li><a href="#">MANAGEMENT</a></li>
                        <li><a href="#">PRODUCTS</a></li>
                        <li><a href="#">R&D</a></li>
                        <li><a href="#">LINKS</a></li>
                        <li><a href="#">SITEMAP</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                    <div class="social-icons">
                        <a href="#"><img src="images/ico_in.png" alt=""></a>
                        <a href="#"><img src="images/ico_inst.png" alt=""></a>
                        <a href="#"><img src="images/ico_tube.png" alt=""></a>
                        <a href="#"><img src="images/ico_tw.png" alt=""></a>
                        <a href="#"><img src="images/ico_fb.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-2 text-center">
            <small>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</small>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
